/* Home page body */
body {
  background:white;
  background-image: url('arrow_backg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Home page header text */
h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  padding-top: 25px; 
  padding-bottom: 25px;
}

/* home page header background */ 
.heading{
  background-color: black;
}

/* home page footer */
footer{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color:white; 
  text-align: center;
}
/* 
game container info */

.game{
  min-height: 100vh; 
  background-color: white; 
  opacity: 0.5; 
  margin: auto;
}

#gameContainer {}
/* 
canvas {
  background: #f8f8f8;
  opacity: 0.5;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
} */

#icons {
 background-color: white;
}
.fa-arrow-up{
  color: red;
}



.row{
  margin: auto;
  padding: auto;
  
}
.column{
  margin: auto;
  column-width: 100px;
  
}

