/* Home page body including main image________________________________*/
body {
  background:white;
  background-image: url('./imgs/arrow_backg.jpg'); ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  
}

/* Home page header text ____________________________________________*/
h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px 2px white, 0 0 15px pink, 0 0 5px palevioletred;
  color: white;
  padding-top: 25px; 
  padding-bottom: 25px;

}

/* home page header background ________________________________________*/ 
.heading{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
  padding-bottom: 15px;
<<<<<<< HEAD
  z-index: 90;
=======
  position: relative;
  z-index: 1;

>>>>>>> f3ae36bcd61ad43f9aea4a28dddcec9e7c3fe40b
}

/* home page footer____________________________________________________ */
footer{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color:white; 
  text-align: center;
  position: relative;
  bottom: -25px;
}
/* 
game container info_________________________________________________ */


.start-btn{
  text-align: center;
  font-family: 'Press Start 2P';
  display: inline-block;
  margin:5px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
}

.game{
  height: 700px;
  width: 60%;
  background-color: white; 
  background: rgba(7, 7, 7, 0.4);
  margin: auto;
 
}

.row{
  /* margin: auto;
  padding: auto;
  position: relative;
  bottom: -350px;
  display: flex; */
  text-align: center;
}
.column{
  margin: auto;
  width: 25%;
  text-align: center;
  border-top: 5px solid rgb(247, 94, 209);
}

/* Favcons ________________________________________________________*/

.fa-arrow-circle-left, .fa-arrow-circle-up, .fa-arrow-circle-down, .fa-arrow-circle-right{
  color: rgb(62, 179, 233);
  font-size: 55px;
  padding-top: 5px;
  text-shadow: 1px 1px 2px white, 0 0 15px pink, 0 0 5px palevioletred;
}

/* #leftGameArrow{
  position: relative;
  left: 100px;
  top: 0px;
}
#rightGameArrow{
  position: relative;
  left: 250px;
  top: -67px;
}
#upGameArrow{
  position: relative;
  left: 450px;
  top: -133px;
}
#downGameArrow{
  position: relative;
  left: 650px;
  top: -200px;
} */
@keyframes fallingLeft{
  from {top: 0px;}
  to {top: 600px;}
}