/* Home page body */
body {
  background:white;
  background-image: url('arrow_backg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Home page header text */
h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  padding-top: 25px; 
  padding-bottom: 25px;
}

/* home page header background */ 
.heading{
  background-color: black;
}

/* home page footer */
footer{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color:white; 
  text-align: center;
}
/* 
game container info */

.game{
  height: 600px; 
  background-color: white; 
  opacity: 0.5; 
  margin-left: 450px; 
  margin-right: 450px;
   margin-top: 40px; 
   margin-bottom: 40px"
}

#gameContainer {}

canvas {
  background: #f8f8f8;
  opacity: 0.5;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

#icons {
 background-color: white;
}
.fa-arrow-up{
  color: red;
}

p{
  color: blueviolet;
  font-size: 50px;
}

